node_modules/
out/
reference/ts/gen/
reference/ts/gen-tests/
target/
.haxe/
.haxelib/
.haxelib_cache/
*.hl
*.n
.env
.env.*
.DS_Store
reference/kotlin/gen/
reference/kotlin/gen-tests/
reference/rust-gen/src/
reference/kotlin-f32/gen/
reference/kotlin-f32/gen-tests/
reference/rust-f32-gen/src/
reference/swift/gen/
reference/swift/gen-tests/
reference/swift-f32/gen/
reference/swift-f32/gen-tests/
reference/dart/gen/
reference/dart/gen-tests/
